@import 'tailwindcss';

:root {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
}
